[submodule "cli_bridge"]
	path = cli_bridge
	url = /workspace/repos/cli_bridge.git
[submodule "sqlite_migrator"]
	path = sqlite_migrator
	url = /workspace/repos/sqlite_migrator.git
[submodule "flutter_components"]
	path = flutter_components
	url = /workspace/repos/flutter_components.git
